body {
  margin: 0;
  padding: 0;
  background: #f7f7f7;
  font-family: Arial, sans-serif;
}

.container {
  width: 400px;
  margin: 50px auto;
  text-align: center;
}

#input-area {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  padding: 10px;
  font-size: 18px;
}

button {
  padding: 10px;
  background: black;
  color: white;
  cursor: pointer;
  font-size: 18px;
}

#board {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 100px);
  gap: 5px;
  justify-content: center;
}

.cell {
  width: 100px;
  height: 100px;
  background: pink;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 42px;
  font-weight: bold;
  cursor: pointer;
}

.message {
  font-size: 22px;
  margin-bottom: 10px;
}

.win {
  background: purple !important;
  color: white;
}
